*{
    margin: 0;
}
body{
    background-color: aliceblue;
}

.noto {
  font-family: "Noto Serif", serif;
  
}

.inter {
  font-family: "Inter", sans-serif;

}
.text-gray{
    color: rgba(0, 0, 0, 0.5);
}
.gray{
    color: rgba(0, 0, 0, 0.5);
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.left{
    margin-top: 15px;
}
.nav{
   
    justify-content: space-around;
}
.nav ul{
    display: flex;
    gap: 40px;
    justify-content: space-between;
align-items: center;
justify-content: center;
margin-top: 60px;
   
}
.nav ul li{
     justify-content: space-between;
    list-style-type: none;
  
   
}

.nav ul li a{
        justify-content: space-between;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    

}
.black{
    color: black;
}
/* banner style */
.banner{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
     margin-top: 50px;
     align-items: center;
     justify-content: center;
}
.left-banner{
    max-width: 570px;
 
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-top: 50px;
}
.right-banner img{
    width: 100%;
}
.banner-des{
    font-size: 22px;
     color: rgba(0, 0, 0, 0.5);
}
.fresh{
    color: #E95A08;
}
/* planet style */
.planet{
    text-align: center;
    margin-top: 120px;
}
.planet-title{
    font-size: 50px;
    font-weight: bold;
}
.planet-des{
    font-size: 22px;
    width: 888px;
    margin: 0 auto;
}
/* card style */
.card{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;

  
}
.flower-card{
   
    height: 484px;
    width: 270px;
    text-align: center;
      align-items: center;
    justify-content: center;
   
   

}
.card-title{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
}
.card-price{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.btn{
background-color: rgba(233, 90, 8, 1);
margin-top: 15px;
border: none;
color: white;
width: 270px;
height: 50px;
}
/* 
flower lover section */
.lover{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 210px;
}
.right-lover{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
   
}
/* .left-lover{
    background: url(../assets/trusted-badge.png);
    position: relative;
} */
 .img-container{
    position: relative;
    /* display: inline-block; */
       width: 540px;
    height: 597px;
 }
 .badge{
    /* position: absolute; */
    top: 90px;
    right: 150px;
    width: 286px;
    height: 286px;
    margin-top: -120px;
    margin-right: -100px;
 }
.left-lover img{
    /* width: 540px;
    height: 597px; */
    position: absolute;
    top: 10px;
    right: 10px;
   
}
.lover-title{
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}
li{
    font-family: "Inter", sans-serif;
     color: rgba(0, 0, 0, 0.5);
     margin-top: 10px;
     font-size: 22px;
}


/* Responsive style */
@media screen  and (max-width:576px){

    .banner{
        flex-direction: column-reverse;
        width: 100%;
    }
    .hide{
        display: none;
    }
    .visible{
        margin-right: -40px;
        font-size: 20px;
    }
    .left-banner{
        margin: 20px;
       
        height: 120px;
    }
 
    .planet{
        flex-direction: column;
        margin-top: 400px;
        width: 100%;
           text-align: center;
       align-items: center;
       justify-content: center;
    }
    .planet-title{
        margin-left: 70px;
        
    }
    .planet-des{
        width: 100%;
        margin-left: 40px;
    
    }
    .card{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       width: 100%;
       
    }
    .flower-card img{
        width: 100%;
    }
    .flower-card{
       height: 340px;
       width: 171px;
        /* gap: 40px; */
        margin-top: 20px;
        margin: 30px;
        
       /* margin: 5px;
       gap: 30px; */
    }
    .btn{
        width:171px ;
        height:50px ;
    }

}

    
